[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
fastapi = "*"
alembic = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
pydantic = {extras = ["email"], version = "*"}
psycopg2-binary = "*"
python-multipart = "*"
requests = "*"
python-dotenv = "*"
python-jose = "*"
passlib = {extras = ["bcrypt"], version = "*"}
emails = "*"
sse-starlette = "*"
asyncio = "*"

[requires]
python_version = "3.8"
